__pycache__/
*.py[cod]
*.pyo
.Python
.venv/
venv/
env/
!chess/env/
!chess/env/**
!lqq/env/
!lqq/env/**
!nimmt/env/
!nimmt/env/**
!skull/env/
!skull/env/**
!Othello/env/
!Othello/env/**
!go_9x9/env/
!go_9x9/env/**
!gomoku/env/
!gomoku/env/**

**/__pycache__/
**/__pycache__/**
*.py[cod]
*.pyo

*.log
*.out.log
*.err.log

.DS_Store
Thumbs.db
